body {
  background-image: url("../img/image11.jpg");
  background-repeat: no-repeat;
  font-size: 22px;
  color: #ff5e00;
}
#title {
  padding-left: 30px;
}
h3 {
  padding-left: 30px;
}
#text-area {
  padding-left: 30px;
}
#new-game-button {
  color: black;
  padding: 12px 28px;
  text-align: center;
  margin-left: 600px;
  text-transform: uppercase;
  border-radius: 8px;
}

#new-game-button:hover {
  cursor:grab;
  background-color: green;
}

#hit-button {
  color: black;
  padding: 12px 28px;
  text-align: center;
  margin-left: 600px;
  text-transform: uppercase;
  border-radius: 8px;
}

#hit-button:hover {
  cursor: pointer;
  background-color: green;
}

#stay-button {
  color: black;
  padding: 12px 28px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 8px;
}

#stay-button:hover {
  cursor: grabbing;
  background-color: red;
}
